.upcomingMatchesSection {
  max-width: 1200px;
  margin: 40px auto;
  padding: 24px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);
}
.upcomingMatchesSection h2 {
  font-family: var(--font-geist-sans);
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  font-weight: 800;
  margin-bottom: 24px;
  text-align: left; /* nadpis tiež doľava */
}


.title {
  font-family: var(--font-geist-sans);
  font-weight: 800;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  margin-bottom: 24px;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  background: #c4c4c465;
  border-radius: 18px;
  padding: 16px 24px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.matchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.league {
  text-transform: uppercase;
  font-weight: 600;
  color: #d32f2f;
}
.dateTime {
  font-style: italic;
  color: #555;
  font-weight: 600;
  margin-left: 10px; /* malý posun doprava pre oddelenie od ligy */
}
.matchBody {
  display: flex;
  justify-content: space-between;
  align-items: center; /* aby boli všetky vertikálne zarovnané */
  flex-wrap: wrap;
  gap: 12px;
}

.team {
  font-size: 1.3rem;
  font-weight: 600;
  color: #111;
  flex: 1 1 auto; /* tím zaberie zľava maximum priestoru */
}


.location {
  font-size: 1rem;
  font-weight: 600;
  color: #2f2e2e;
  opacity: 0.85;
  text-align: right;
  flex: 0 0 auto; /* nebude sa roztahovať */
  margin-left: 20px; /* posunie miesto mierne doprava */
}

.none {
  text-align: center;
  font-style: italic;
  color: #999;
}